<span class="badge text-bg-primary rounded-pill"
      data-kerrialnewham--autocomplete--ssr-autocomplete-target="chip"
      data-autocomplete-chip-value="{{ item.id }}">
    <span>{{ item.label }}</span>

    <a type="button"
            class="autocomplete-chip-remove"
            aria-label="Remove {{ item.label }}"
            data-action="click->kerrialnewham--autocomplete--ssr-autocomplete#removeChip">
        x
    </a>

    <input type="hidden"
           name="{{ name }}[]"
           value="{{ item.id }}"
           data-kerrialnewham--autocomplete--ssr-autocomplete-target="selectedInput">
</span>
