{% if results is empty %}
    <div class="autocomplete-empty">No results</div>
{% else %}
    <ul class="autocomplete-list" role="listbox" aria-label="Autocomplete results">
        {% for item in results %}

            <li class="autocomplete-option"
                role="option"
                tabindex="-1"
                data-autocomplete-option-value="{{ item.id }}"
                data-autocomplete-option-label="{{ item.label }}"
                    {% if item.meta is defined %}
                        data-autocomplete-option-meta="{{ item.meta|json_encode|e('html_attr') }}"
                    {% endif %}
            >
                <div class="autocomplete-option-label">{{ item.label }}</div>

                {% if item.meta is defined and item.meta %}
                    <div class="autocomplete-option-meta">
                        {% if item.meta.email is defined %}
                            {{ item.meta.email }}
                        {% endif %}

                        {% if item.meta.domain is defined %}
                            • {{ item.meta.domain }}
                        {% endif %}

                        {% if item.meta.role is defined %}
                            • {{ item.meta.role }}
                        {% endif %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
